<configuration scan="true" scanPeriod="30 seconds" debug="true">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/proxy-robots.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/mylog.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d [%thread] |-%-5p %logger{10} (%class{0}.%method:%L\) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] |-%-5p (%class{0}.%method:%L\) - %m%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="FILE"/>
    </root>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

